@charset "UTF-8";

html {
  font-size: 100%;
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  background-color: #fff;
  color: #000;
}

a {
  text-decoration: none;
  transition: all 0.3s;
}

a:hover {
  opacity: 0.7;
}

li {
  list-style: none;
}

.__ttl {
  text-align: center;
  margin-bottom: 3.5%;
  word-break: keep-all;
}

.__ttl h2 {
  font-size: clamp(1.25rem, 0.795rem + 2.27vw, 2.5rem);
  line-height: 1.25;
  font-weight: bold;
}


.__inner {
  max-width: 1000px;
  margin: 0 auto;
}

.header-wrap {
  position: fixed;
  width: 100%;
  height: 92.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 10px 10px rgb(0 0 0 / 20%);
  z-index: 1;
}

.header-wrap__logo {
  padding-left: 1.75%;
  font-size: clamp(1rem, 0.636rem + 1.82vw, 2rem);
  color: #000;
  line-height: 1.5;
}

.header-wrap__logo a {
  color: #000;
  font-weight: bold;
}

.header-wrap__nav {
  margin-right: 130px;
}

.header-wrap__nav__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.header-wrap__nav__list__item:nth-last-of-type(1) {
  margin-left: 2.5vw;
}

.header-wrap__nav__list__item a {
  height: 52.5px;
}

.header-wrap__nav__list__item__tel {
  color: #00C5D8;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.75vw;
  font-size: clamp(1rem, 0.727rem + 1.36vw, 1.75rem);
  font-weight: bold;
}

.header-wrap__nav__list__item__web {
  background-color: #DBCD35;
  color: #fff;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: clamp(0.7rem, 0.409rem + 1.45vw, 1.5rem);
  padding: 3.25% 5%;
  height: 70px;
  text-align: center;
  font-weight: bold;
}

.header-wrap__nav__list__item__web p{
  margin: auto;
}
.header-wrap__nav__list__item a i {
  display: block;
  font-size:clamp(0.5rem, -0.227rem + 3.64vw, 2.5rem);
  margin-right: 5%;
}

.header-wrap__nav__list__item a p {
  line-height: 1.2;
}

.header-wrap__nav__list__item a p small {
  display: block;
}

.header-wrap__nav__list__item__tel p small {
  font-size: clamp(0.25rem, 0.159rem + 0.45vw, 0.5rem);
}

.h-open {
  position: absolute;
  z-index: 9999;
  right: 0;
  cursor: pointer;
  width: 92.5px;
  height: 100%;
  text-align: center;
}


/* ×に変化させる */
.h-open span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 24px;
  height: 1.5px;
  border-radius: 2px;
  background-color: #B9B9B9;
  width: 50%;
}

.h-open span:nth-of-type(1) {
  top: 30px;
}

.h-open span:nth-of-type(2) {
  top: 45px;
}

.h-open span:nth-of-type(3) {
  top: 60px;
}

.h-open.active span:nth-of-type(1) {
  top: 48px;
  left: 24px;
  transform: translateY(6px) rotate(-45deg);
  width: 50%;
}

.h-open.active span:nth-of-type(2) {
  opacity: 0;
}

.h-open.active span:nth-of-type(3) {
  top: 60px;
  left: 24px;
  transform: translateY(-6px) rotate(45deg);
  width: 50%;
}

#h-nav {
  position: fixed;
  z-index: 999;
  top: 0;
  right: -120%;
  width: 50%;
  height: 100vh;
  background-color: #fff;
  box-shadow: 0px 10px 10px rgb(0 0 0 / 20%);
  transition: all 0.6s;
}

#h-nav ul {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

#h-nav li {
  position: relative;
  margin: 22.5% 0;
}

#h-nav li::after {
  position: absolute;
  content: "";
  left: -15px;
  bottom: 0;
  height: 100%;
  width: 3.75px;
  background-color: #00C5D8;
}

#h-nav li a {
  color: #333;
  display: block;
  font-size: clamp(0.9rem, 0.773rem + 0.64vw, 1.25rem);
  font-weight: 400;
}

#h-nav.panelactive {
  right: 0;
}

.top-wrap {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 90px;
}

.top-wrap__left {
  width: 45%;
}

.top-wrap__left__mes{
  color: #DBCD35;
  padding-top: 20%;
  white-space: nowrap;
}

.top-wrap__left__mes p{
  font-size:clamp(0.75rem, 0.568rem + 0.91vw, 1.25rem);
}

.top-wrap__left__ttl{
  font-size:clamp(0.75rem, 0.386rem + 1.82vw, 1.75rem);
  white-space: nowrap;
}

.top-wrap__left__ttl span{
  color: #89D4DB;
  font-size:clamp(0.85rem, 0.432rem + 2.09vw, 2rem);
}

.top-wrap__left__achieve{
  display: inline-block;
  margin-top: 10%;
  padding: 5%;
  background-color: #E9F7F7;
}

.top-wrap__left__achieve p{
  font-size:clamp(0.5rem, 0.136rem + 1.82vw, 1.5rem);
  font-weight: bold;
}

.top-wrap__left__achieve span{
  font-size: clamp(1.5rem, 1.227rem + 1.36vw, 2.25rem);
  color: #DBCD35;
  font-weight: bold;
}
.con_1 {
  background-color: #E9F7F7;
}

.con_1-wrap {
  padding: 3.5%;
  margin: auto;
}

.con_1-wrap__ttl {
  text-align: center;
  margin-bottom: 3.5%;
}

.con_1-wrap__ttl p {
  font-size: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
  font-weight: bold;
}

.__cta-btn {
  width: 50%;
  height: 100%;
  margin: 0 auto;
}

.__cta-btn2 {
  margin-top: 2.5%;
  display: flex;
}

.__cta-btn a {
  color: #fff;
  padding: 3.25% 5%;
  height: 70px;
  text-align: center;
  font-weight: bold;
}

.__cta-btn a p {
  line-height: 1.5;
  margin: auto;
}

.__cta-btn2 a p small {
  display: block;
}

.__cta-btn__web {
  background-color: #DBCD35;
  display: flex;
  align-items: center;
  text-align: center;
  font-size:clamp(0.7rem, 0.409rem + 1.45vw, 1.5rem);
  max-height: 50px;
}

.__cta-btn__tel {
  display: flex;
  align-items: center;
  margin:0 auto;
  font-size:clamp(1rem, 0.545rem + 2.27vw, 2.25rem);
  font-weight: bold;
}

.__cta-btn2 a i {
  color: #00C5D8;
  display: block;
  font-size: clamp(0.5rem, -0.227rem + 3.64vw, 2.5rem);
}

.__cta-btn__tel p{
  color: #00C5D8;
}

.__cta-btn__tel p small {
  color: #00C5D8;
  font-size:clamp(0.35rem, 0.205rem + 0.73vw, 0.75rem);
  font-weight: normal;
}

.mean{
  padding: 3.5%;
}

.mean-wrap__ttl{
  text-align: center;
  margin-bottom: 3.5%;
  color: #00C5D8;
  font-size: clamp(0.5rem, 0.136rem + 1.82vw, 1.5rem);
}

.table-wrap {
  overflow-x:unset;
}

table {
  border-collapse: collapse;
  border: 1px solid #b0b0b0;
  width: 100%;
  text-align: center;
  border: none;
}

th {
  border: 1px solid #b0b0b0;
  padding: 2%;
  width: 10%;
  font-weight: normal;
}

td {
  border: 1px solid #b0b0b0;
  height: 4vh;
  text-align: center;
  vertical-align: middle;
}

.merit {
  color:#00C5D8;
  font-size:clamp(0.5rem, 0.318rem + 0.91vw, 1rem);
}



.table_item{
  background-color: #F5F5F5;
  font-size: clamp(0.45rem, 0.305rem + 0.73vw, 0.85rem);
}

.table_head{
  background-color: #B9B9B9;
  color: #fff;
  font-size:clamp(0.4rem, 0.182rem + 1.09vw, 1rem);
  white-space: nowrap;
}

.liposuction{
  background-color: #00C5D8;
  color: #fff;
  font-size: clamp(0.5rem, 0.318rem + 0.91vw, 1rem);
}

table td:nth-of-type(2) {
  color:#00C5D8 ;
}

.fea{
  background-color: #E9F7F7;
  padding: 3.5%;
}

.fea-wrap__ttl{
  text-align: center;
  margin-bottom: 3.5%;
  word-break: keep-all;
}

.fea-wrap__ttl h3{
  display: inline-block;
  font-size: clamp(0.85rem, 0.614rem + 1.18vw, 1.5rem);
  font-weight: 500;
}

.fea-wrap__ttl strong{
  font-size:clamp(1.25rem, 0.886rem + 1.82vw, 2.25rem);
  color: #00C5D8;
  font-weight: bold;
}
.fea-wrap__body{
  width: 100%;
  margin: auto;
}
.fea-wrap__body__block{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 5% 2.5%;
}

.fea-wrap__body__block__item {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width:28%;
  padding: 1.5%;
  margin-bottom: 3%;
}

.circle_number {
  width: 50px;
  height: 50px;
  padding-top: 10px;
  font-weight: bold;
  background-color: #E9F7F7;
  border-radius: 50%;
  text-align: center;
  box-sizing: border-box;
}

.fea-wrap__body__block__item__ttl{
  margin-top: 2.5%;
  margin-bottom: 3.5%;
  text-align: center;
}

.fea-wrap__body__block__item__ttl h3{
  display: inline-block;
  font-size:clamp(0.5rem, 0.373rem + 0.64vw, 0.85rem);
}

.fea-wrap__body__block__item__ttl strong{
  font-size:clamp(0.65rem, 0.468rem + 0.91vw, 1.15rem);
  color: #DBCD35;
}

.fea-wrap__body__block__item__img{
  margin:0 auto;
}

.fea-wrap__body__block__item__img img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.result{
  background-color: #89D4DB;
  padding: 3.5%;
}

.result-wrap{
  background-color: #E9F7F7;
  padding: 3.5% 0;
  width: 100%;
  margin: auto;
}

.result-wrap__ttl{
  margin-top: 2.5%;
  margin-bottom: 3.5%;
  text-align: center;
  word-break: keep-all;
}

.result-wrap__ttl h3{
  display: inline-block;
  font-size:clamp(0.75rem, 0.477rem + 1.36vw, 1.5rem);
}

.result-wrap__ttl strong {
  font-size: clamp(1.15rem, 0.932rem + 1.09vw, 1.75rem);
  color: #DBCD35;
}

.result-wrap__img{
  width: 50%;
  margin: 0 auto;
}

.result-wrap__img img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu{
  background-color: #F5F5F5;
  padding: 1.7%;
}

.menu__ttl {
  margin-top: 2.5%;
  margin-bottom: 3.5%;
  text-align: center;
}

.menu__ttl h3 {
  display: inline-block;
  color: #89D4DB;
  font-size: clamp(1.25rem, 0.886rem + 1.82vw, 2.25rem);
}

.menu-wrap{
  background-color: #fff;
  padding: 3.5%;
  margin: auto;
}

.menu-wrap__body__block__ttl{
  text-align: center;
}

.menu-wrap__body__block__ttl h3 {
  display: inline-block;
  color: #00C5D8;
  font-size:clamp(0.85rem, 0.523rem + 1.64vw, 1.75rem);
}

.menu-wrap__body__block__subttl{
  text-align: center;
  background-color: #00C5D8;
  margin: 1% 0;
  padding: 1% 0;
  width: 100%;
}

.menu-wrap__body__block__subttl h4{
  color: #fff;
  display: inline-block;
  font-size: clamp(1rem, 0.727rem + 1.36vw, 1.5rem);
}

.menu-wrap__body__block__subtxt{
  text-align: center;
  margin: 1.5%;
}

.menu-wrap__body__block__subtxt p{
  font-weight: bold;
  font-size: clamp(0.65rem, 0.523rem + 0.64vw, 1rem);
}

.menu-wrap__body__block2{
  border: solid 1px #00C5D8;
  border-radius: 10px;
  padding: 3%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu-wrap__body__block__item{
  display: flex;
  width: 45%;
  margin-top: 3%;
}

.menu-wrap__body__block__item__img {
  width: 45%;
  height: 45%;
  margin-right: 5%;
}

.menu-wrap__body__block__item__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu-wrap__body__block__item__right{
  width: 60%;
  text-align: center;
}

.menu-wrap__body__block__item__numer{
  display: flex;
  justify-content: center;
  border: solid 1px #00C5D8;
  padding: 2%;
}

.menu-wrap__body__block__item__numer p{
  color: #00C5D8;
  font-size:clamp(0.65rem, 0.468rem + 0.91vw, 1.15rem);
}

.menu-wrap__body__block__item__ttl{
  color: #00C5D8;
  font-weight: bold;
  text-align: center;
  border-bottom:1px solid #00C5D8;
  font-size:clamp(0.65rem, 0.468rem + 0.91vw, 1.15rem);
  word-break: keep-all;
}

.menu-wrap__body__block__item__txt{
  text-align: left;
  font-size:clamp(0.5rem, 0.318rem + 0.91vw, 1rem);
}

.menu-wrap__body__block__item__price{
  color: #DBCD35;
  text-align: center;
  font-size: clamp(0.65rem, 0.523rem + 0.64vw, 1rem);
}

.menu-wrap__body__block__item__btn{
  background-color: #00C5D8;
  border-radius: 20px;
  margin: 2% auto;
  width: 70%;
}

.menu-wrap__body__block__item__btn a{
  color: #fff;
  display: inline-block;
  padding: 2% 0;
  margin: auto;
}

.menu_item{
  width: 50%;
  display: flex;
  flex-direction: column;
  margin:0 auto;
}
.__triangle {
  width: 0px;
  margin:10% auto;
  border-top: 55px solid #00C5D8;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
}

.__total{
  width: 100%;
  display: inline-block;
  border: solid 1px #DBCD35;
  padding:2% 0;
}

.__total p{
  color: #DBCD35;
  text-align: center;
  font-size: clamp(1rem, 0.727rem + 1.36vw, 1.75rem);
  font-weight: bold;
}

.table2{
  width: 80%;
  text-align: center;
  display: block;
  margin: auto;
  margin-bottom: 5%;
}

.table2_head{
  background-color: #00C5D8;
  color: #fff;
  font-size: clamp(0.65rem, 0.523rem + 0.64vw, 1rem);
}

.table2_item{
  background-color: #E9F7F7;
  color: #00C5D8;
  font-size: clamp(0.5rem, 0.318rem + 0.91vw, 1rem);
  
}

.table2_item small{
  font-size: clamp(0.35rem, 0.205rem + 0.73vw, 0.75rem);
}

td {
  border: 1px solid #b0b0b0;
  text-align: center;
  padding: 1%;
  vertical-align: middle;
  font-size: clamp(0.65rem, 0.523rem + 0.64vw, 1rem);
  word-break: keep-all;
  }

td p{
  color: #000;
}

td span{
  font-size:clamp(0.35rem, 0.205rem + 0.73vw, 0.75rem);
}

caption {
  caption-side: bottom;
  font-size: clamp(0.35rem, 0.241rem + 0.55vw, 0.65rem);
  word-break: keep-all;
}


.menu-wrap__body__block__item {
  display: flex;
  width: 45%;
  margin-top: 3%;
}

.menu-wrap__body__block3 {
  display: flex;
  justify-content: center;
}

.menu-wrap__body__block__item2 {
  display: flex;
  flex-direction: column-reverse;
  padding: 3%;
  margin-top: 3%;
  text-align: center;
}

.menu-wrap__body__block__item2__img{
  width: 60%;
  height: 60%;
  padding-right: 3%;
  margin: auto;
}


.menu-wrap__body__block__item2__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu-wrap__body__block__item2__btn a {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size:clamp(0.4rem, 0.291rem + 0.55vw, 0.7rem);
  font-weight: bold;
}

.menu-wrap__body__block__item2__btn {
  background-color: #00C5D8;
  border-radius: 20px;
  margin: 3% 0;
  padding: 2% 5%;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.menu-wrap__body__block__pay {
  text-align: center;
  margin: 1% 0;
  padding: 1% 0;
}


.menu-wrap__body__block__pay h4 {
  color: #00C5D8;
  display: inline-block;
  font-size:clamp(0.65rem, 0.523rem + 0.64vw, 1rem);
}

.menu-wrap__body__block__pay h4 strong {
  font-size: clamp(0.85rem, 0.614rem + 1.18vw, 1.5rem);
  font-weight: bold;
  word-break: keep-all;
}

.menu-wrap__body__block__paycircle{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.circle2 {
  display: inline-block;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: #E9F7F7;
}

.circle2 p{
  text-align: center;
  font-size: clamp(0.5rem, 0.318rem + 0.91vw, 1rem);
  line-height: 1.2;
}

svg{
  display: block;
  margin: 0 auto;
  padding-top:20%;
  color:#00C5D8;
}

path{
  margin:auto;
}

.menu-wrap__body__exampletxt{
  text-align: center;
  margin-top: 3%;
  font-size: clamp(0.5rem, 0.318rem + 0.91vw, 1rem);
}

.menu-wrap__body__exampletxt strong{
  font-size: clamp(1rem, 0.727rem + 1.36vw, 1.5rem);
  color: #DBCD35;
}

.menu-wrap__body__exampletxt span {
  font-weight: bold;
  color: #DBCD35;
}

.menu-wrap__body__exampletxt small{
  font-size: clamp(0.4rem, 0.182rem + 1.09vw, 1rem);
}
.menu-wrap__body__exampletxt small span{
  font-weight: bold;
    color: #000;
}

.faq {
  background-color: rgba(137, 212, 219, 0.5);
}

.faq-wrap {
  padding: 3.5%;
  margin: auto;
}

.faq-wrap__body__list {
  width: 100%;
}

.faq-wrap__body__list__item {
  position: relative;
  margin: 1.5% 0;
  background-color: #fff;
  padding: 1.75% 3.5%;
  list-style: none;
}

.faq-wrap__body__list__item__tog {
  display: none;
}

.faq-wrap__body__list__item__tog:checked
+.faq-wrap__body__list__item__ttl
+.faq-wrap__body__list__item__con {
  max-height: 500px;
  transition: all 1.5s;
}

.faq-wrap__body__list__item__tog:checked
+.faq-wrap__body__list__item__ttl::before {
  transform: translateY(-50%) translateX(-50%) rotate(90deg);
}

.faq-wrap__body__list__item__ttl,
.faq-wrap__body__list__item__con {
  transform: translate(0);
  transition: all 0.3s;
}

.faq-wrap__body__list__item__ttl {
  display: block;
  font-weight: 400;
  color: #89D4DB;
  font-size: clamp(0.5rem, 0.318rem + 0.91vw, 1rem);
}

.faq-wrap__body__list__item__ttl span {
  font-weight: 400;
  font-size: clamp(0.85rem, 0.614rem + 1.18vw, 1.5rem);
}

.faq-wrap__body__list__item__ttl::after,
.faq-wrap__body__list__item__ttl::before {
  content: "";
  position: absolute;
  right: 1.75%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 1.5px;
  height: 17.5px;
  background-color: #89D4DB;
  transition: all 0.3s;
}

.faq-wrap__body__list__item__ttl::after {
  transform: translateY(-50%) translateX(-50%) rotate(90deg);
}

.faq-wrap__body__list__item__con {
  max-height: 0;
  overflow: hidden;
}

.faq-wrap__body__list__item__con span {
  font-weight: 400;
  font-size: clamp(0.85rem, 0.614rem + 1.18vw, 1.5rem);
}

.faq-wrap__body__list__item__con p {
  font-weight: 400;
  border-top: solid 1px #89D4DB;
  margin-top: 1%;
  padding-top: 1%;
  font-size:clamp(0.5rem, 0.318rem + 0.91vw, 1rem);
}

.guide{
  background-color: #E9F7F7;
  width: 100%;
}

.guide-wrap{
  padding: 3.5%;
  color: #00C5D8;
}

.guide-wrap__body{
  display: flex;
  justify-content: space-between;
}

.guide-wrap__body__block{
  width: 50%;
  text-align: center;
}

.info-table{
  width: 100%;
}
.guide-info{
  background-color: rgba(137, 212, 219, 0.5);
  color: #00C5D8;
  border: 1px solid #89D4DB;
  width: 25%;
  vertical-align: middle;
}

.guide-info p{
  font-size: clamp(0.35rem, 0.114rem + 1.18vw, 1rem);
}

.guide-con{
  background-color: #fff;
  border: 1px solid #89D4DB;
  text-align: left;
  padding: 2%;
  width: 320px;
}

.guide-con p {
  font-size: clamp(0.35rem, 0.114rem + 1.18vw, 1rem);
  line-height: 2;

}

.gmap_iframe {
  aspect-ratio: 5 / 4;
  max-width: 700px;
  width: 100%;
  height: auto;
}

.con{
  padding: 3.5%;
}

.con-wrap__flo{
  display: flex;
  justify-content: space-between;
}

.con-wrap__flo-block{
  background-color: #89D4DB;
  color: #fff;
  padding: 2%;
  text-align: center;
  width: 30%;
  margin: 0 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.con-wrap__flo-block p{
  vertical-align: middle;
  font-size: clamp(0.65rem, 0.523rem + 0.64vw, 1rem);
}
.con-wrap__flo-block:nth-of-type(1){
  background-color: #E9F7F7;
  color: #000;
}

.con-wrap__con {
  margin-top: 3.5%;
}

.con-wrap__con__form__block {
  display: flex;
  border: solid #89D4DB 1px;
  border-bottom: none;
}

.con-wrap__con__form__block:nth-of-type(9){
  border-bottom: solid #89D4DB 1px;
}

.con-wrap__con__form__block__left {
  background-color: #E9F7F7;
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
}

.con-wrap__con__form__block__left p {
  font-size:clamp(0.5rem, 0.373rem + 0.64vw, 0.85rem);
  color: #000;
  word-break: keep-all;
}

.con-wrap__con__form__block__left span {
  background-color: #00C5D8;
  padding: 0.75% 7.5%;
  font-size: clamp(0.3rem, 0.136rem + 0.82vw, 0.75rem);
  color: #fff;
  word-break: keep-all;
}

.con-wrap__con__form__block__right {
  width: 65%;
  padding: 2%;
  display: flex;
}

.con-wrap__con__form__block__input {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}

.con-wrap__con__form__block__input__one.__radio {
  display: flex;
  align-items: center;
  padding: 2.5% 3.5%;
  font-size: clamp(0.65rem, 0.523rem + 0.64vw, 1rem);
}

.con-wrap__con__form__block__input__one.__text{
  width: 100%;
}

.con-wrap__con__form__block__input__one.__text input {
  border: solid #e3e3e3 1px;
  line-height: 2.5;
  padding-left: 2.5%;
  align-items: center;
  width: 100%;
  font-size: clamp(0.65rem, 0.523rem + 0.64vw, 1rem);
}

.con-wrap__con__form__block__right textarea {
  border: solid #d6d6d6 1px;
  height: 8.5rem;
  width: 100%;
}

select{
  border: solid #e3e3e3 1px;
  width: 30%;
  margin-left: 5%;
  font-size:clamp(0.65rem, 0.523rem + 0.64vw, 1rem);
}

.con-wrap__con__form__block__btn {
  width: 22.5%;
  margin: 0 auto;
  margin-top: 3.5%;
  padding-bottom: 3.5%;
}

.con-wrap__con__form__block__btn button {
  width: 100%;
  cursor: pointer;
  font-size: clamp(0.65rem, 0.523rem + 0.64vw, 1rem);
  font-weight: 500;
  background-color: #00C5D8;
  color: #fff;
  border: unset;
  line-height: 3.5;
  box-shadow: 4px 3px 7px rgb(0 0 0 / 40%);
  transition: all 0.3s;
}

.con-wrap__con__form__block__btn button:hover {
  opacity: 0.5;
}

.footer-wrap {
  background-color: #89D4DB;
  padding: 2.5% 0;
}

.footer-wrap p {
  text-align: center;
  color: #fff;
  font-size: clamp(0.35rem, 0.205rem + 0.73vw, 0.75rem);
}

@media screen and (min-width: 1024px) {
  .__pc {
    display: inline-block;
  }

  .__tab {
    display: none;
  }

  .__sp {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .__pc {
    display: inline-block;
  }

  .__tab {
    display: none;
  }

  .__sp {
    display: none;
  }

  .header-wrap__logo a {
    display: block;
    white-space: nowrap;
  }
  
  .header-wrap__nav {
    display: block;
    white-space: nowrap;
  }

  .top-wrap {
    display: flex;
    justify-content: space-around;
    width: 75%;
    padding-top: 90px;
    margin: auto;
  }

  .top-wrap__left__mes {
    white-space: normal;
  }

  .top-wrap__left__ttl span {
    color: #89D4DB;
    white-space: pre-wrap;
  }

.guide-wrap__body {
  display: flex;
  justify-content: space-between;
}

.guide-wrap__body__block {
  width: 47%;
  text-align: center;
}
}

@media screen and (max-width: 768px) {
  .__pc {
    display: none;
  }

  .__tab {
    display: inline-block;
  }

  .__sp {
    display: none;
  }
  
.header-wrap {
  height: 95px;}

  .header-wrap__nav__list {
    display: inline-block;
    margin: auto;
  }

  .header-wrap__nav__list__item a {
    height: 40px;
  }

.header-wrap__nav__list__item__tel{
  display: none;
}

  .header-wrap__nav__list__item:nth-last-of-type(1) {
    margin-left: 0;
  }

.header-wrap__nav__list__item__web p {
  margin: 0 auto;
}
  #h-nav {
    width: 70%;
  }
  
  .__inner {
    max-width: 700px;
    width: 87.5%;
    margin: 0 auto;
  }

  .__ttl {
    margin-bottom: 5%;
  }

  .top{
    margin-bottom: 5%;
  }

  .top-wrap__left__mes{
    white-space: normal;
  }
  
  .top-wrap__left__ttl span {
    color: #89D4DB;
    white-space: pre-wrap;
  }
  
  .top-wrap-img{
    width: 80%;
  }

.__cta-btn{
  word-break: keep-all;
}
.__cta-btn2 a i {
  color: #00C5D8;
  display: block;
}

.fea-wrap__body{
  width: 100%;
  justify-content: space-around;
}

.fea-wrap__body__block {
  width: 80%;
  display: flex;
  align-items: center;
  padding: 3.5%;
  margin: auto;
  flex-wrap: wrap;
}

  .fea-wrap__body__block__item{
    width: 40%;
    margin-bottom: 10%;
  }

  .circle_number {
    width: 30px;
    height: 30px;
    padding: 0;
  }

  .menu-wrap {
    background-color: #fff;
    padding: 3.5%;
    width: 85%;
    height: 100%;
    margin: auto;
    }

  .menu-wrap__body__block__item{
    width: 80%;
    margin: auto;
    margin-bottom: 3%;
  }

  .__triangle {
    width: 0px;
    margin: 10% auto;
    border-top: 35px solid #00C5D8;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
  }

  .menu-wrap__body__block3{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .menu-wrap__body__block__item2{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    margin:3% auto;
  }

  .menu-wrap__body__block__item2__right {
    width: 60%;
    text-align: center;
  }

  .menu_item {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    }

  .circle2 {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #E9F7F7;
    }

  svg {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-top:10%;
    color: #00C5D8;
    }

.guide-wrap__body__block{
  display: block;
  margin: auto;
  margin-right: 3%;
  text-align: center;
}

.info-table{
  display: flex;
  justify-content: center;
  white-space:nowrap;
}

  .con-wrap__con__form__block__right textarea {
    border: solid #d6d6d6 1px;
    height: 6.5rem;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .__pc {
    display: none;
  }

  .__tab {
    display: none;
  }

  .__sp {
    display: inline-block;
  }

  .header-wrap__nav{
    display: none;
  }

  .__inner {
    max-width: 700px;
    margin: 0 auto;
  }

.header-wrap {
  height: 70px;
}

  
.h-open span:nth-of-type(1) {
  top: 20px;
}

.h-open span:nth-of-type(2) {
  top: 35px;
}

.h-open span:nth-of-type(3) {
  top: 50px;
}

.h-open.active span:nth-of-type(1) {
  top: 36px;
  left: 20px;
  transform: translateY(6px) rotate(-45deg);
  width: 50%;
}

.h-open.active span:nth-of-type(2) {
  opacity: 0;
}

.h-open.active span:nth-of-type(3) {
  top: 48px;
  left: 20px;
  transform: translateY(-6px) rotate(45deg);
  width: 50%;
}
.top-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 90px;
  text-align: center;
}
.top-wrap__left{
  width: 70%;
}
.top-wrap__left__mes {
  color: #DBCD35;
  padding-top: 20%;
  white-space: normal;
}

.top-wrap__right {
  display:inline-block;
}

.top-wrap__left__ttl span {
  color: #89D4DB;
  white-space: pre-wrap;
}

.__cta-btn2 a i {
  color: #00C5D8;
  display: block;
  font-size: 1.5rem;
}

.table-wrap {
  overflow-x: scroll;
}
.table1{
  min-width: 500px;
}
table {
  border-collapse: collapse;
  border: 1px solid #b0b0b0;
  width: 100%;
  }
  
  .fea-wrap__body__block {
    width: 100%;
    margin: auto;
  
  }
  .fea-wrap__body__block__item {
    width: 70%;
    margin: auto;
    display: flex;
    padding: 3% 1.5%;
      margin-bottom: 3%;
  }

  .fea-wrap__body__block__item__ttl{
    margin-top: 2.5%;
    text-align: center;
}

  .menu_item {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

.menu-wrap__body__block__item {
  display: flex;
  flex-direction:column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

.menu-wrap__body__block__item__img{
  width: 80%;
  margin-bottom: 3%;
  margin-right: 0;
}

.menu-wrap__body__block__item__right{
  width: 80%;
  text-align: center;
}

.menu-wrap__body__block__item__txt{
  width: 80%;
  margin: auto;
}

  .menu-wrap__body__block3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .menu-wrap__body__block__item2 {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    margin: 3% auto;
  }

  .menu-wrap__body__block__item2__img {
    width: 60%;
    height: 60%;
    padding-right: 3%;
    margin: auto;
  }

  .menu-wrap__body__block__item2__img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .__triangle {
    width: 0px;
    margin: 10% auto;
    border-top: 25px solid #00C5D8;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
  }
  .table2 {
    width: 100%;
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 5%;
    word-break: keep-all;
  }

  .circle2 {
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #E9F7F7;
  }

  svg {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-top: 5%;
    color: #00C5D8;
    }

  .guide-wrap {
    padding: 3% 0;
    color: #00C5D8;
  }

  .guide-wrap__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .guide-wrap__body__block {
    width: 60%;
    text-align: center;
    margin: auto;
    margin-bottom: 3%;
    }

  .guide-con {
    width: 180px;
  }

  .gmap_iframe {
    height: auto;
  }
  .con-wrap__con__form__block__left {
    background-color: #E9F7F7;
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
  }

  .con-wrap__con__form__block__input__one.__text {
    width: 95%;
  }

  .con-wrap__con__form__block__input__one.__text input {
    border: solid #e3e3e3 1px;
    line-height: 2.5;
    padding-left: 2.5%;
    align-items: center;
    width: 100%;
    font-size: clamp(0.35rem, 0.205rem + 0.73vw, 0.75rem);
  }

  .con-wrap__con__form__block__right textarea {
    border: solid #d6d6d6 1px;
    height: 5rem;
    width: 100%;
  }
  .con-wrap__con__form__block__btn {
    width: 30%;
    margin: 0 auto;
    margin-top: 3.5%;
    padding-bottom: 3.5%;
  }
}

